<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
 <link href='css/simpleGridTemplate.css' rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Creative Sparks</h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <h3></h3>
      <img src="images/logo.png" alt="" class="profile"> </div>
    <div class="column">
      <p>Creative Sparks is the answer to any and all lonely hearts bands.  This innovative web interface uses user interests and location to match band members with others in their area.  Created to spark innovation in the music industry Creative Sparks is a new resource for collaborative bands. </p>
      <div> 
        <button class="loginButton"> <a href="login.html">
          Login
        </a>
        </button>
      </div>
    </div>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <h3 class="title" id="Title"> Bands on Creative Sparks </h3>
    <div class="thumbnail"> <a href="#"><img src="images/SgtPepper.jpg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">Sargent Pepper's Lonely Hearts Band is a return to classic pop rock. What started as a meet up of single bachelors has evolved into a world wide phenomena.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="/images/eagles.jpg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">The Eagles are the archetype of lonely middle age musicians.  Longtime users of Creative Sparks to fill hteir band slots when understaffed due to infighting, the Eagles have developed the theme song for many single middle aged men.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="/images/paramore.jpg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">A lontime user of Creative sparks to find new sounds and band members, Paramore is a more modern take on pop rock.  With a new sound Paramore exemplifies Creative Sparks. </p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="images/Lonelyisland.jpg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">Proving that no band is an island the Lonely Island have been longtime Creative Sparks.  Creating humorous songs and videos to reflect pop culture, The Lonely Island is always looking for new ideas and members on Creative Sparks.</p>
    </div>
  </div>

  <!-- commented out an extra div row in the gallery. -->
  <!-- <div class="gallery">
    <div class="thumbnail"> <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <h4>TITLE</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <h4>TITLE</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <h4>TITLE</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards"/></a>
      <h4>TITLE</h4>
      <p class="tag">HTML, CSS, JS, WordPress</p>
      <p class="text_column">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div> -->
  <!-- Footer Section -->
  <footer id="contact">
    <p class="hero_header">GET IN TOUCH WITH ME</p>
    <div class="button">EMAIL ME </div>
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2015 - <strong>GRID</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
