<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Creative Sparks</h4>
  </header>
  <!-- Hero Section -->
  <!-- <section class="intro">
    <div class="column">
      <h3></h3>
      <img src="" alt="" class="profile" id="albumArt"> </div>
    <div class="column" id="band"> 
      
    </div>
  </section> -->
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <h3 class="title" id="Title"> Artists You Match With! </h3>
    <div class="thumbnail"> <a href="#"><img src="images/mark.jpeg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">
      <h4>Name: Mark Wilson</h4>
      <p>Distance: 32 miles</p>
      <p>Genre: Country</p>
      <p>Instrument: Guitar</p>
      <p>Email: mwilson@yahoo.com</p>
    </p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="/images/elton.jpg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">
        <h4>Name: Elton John</h4>
      <p>Distance: 7 miles</p>
      <p>Genre: Pop</p>
      <p>Instrument: Piano</p>
      <p>Email: ejohn@yahoo.com</p>
    </p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="/images/terri.jpeg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">
      <h4>Name: Terri Williams</h4>
      <p>Distance: 60 miles</p>
      <p>Genre: Classical</p>
      <p>Instrument: Violin</p>
      <p>Email: twilliams@yahoo.com</p>
    </p>
    </div>
    <div class="thumbnail"> <a href="#"><img src="images/love.jpg" alt="" width="2000" class="cards"/></a>
      <h4></h4>
      <p class="tag"></p>
      <p class="text_column">      
      <h4>Name: Courtney Love</h4>
      <p>Distance: 25 miles</p>
      <p>Genre: Rock</p>
      <p>Instrument: Voice</p>
      <a href="mailto:clove@yahoo.com">Email: clove@yahoo.com</a>
    </p>
    </div>
  </div>


  
  <footer id="contact">
      <div class="copyright">&copy;2015 - <strong>Creative Sparks</strong></div>
</div>
  </footer>
  <!-- Copyrights Section -->

<!-- Main Container Ends -->
</body>
</html>
