<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
<link href="css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Creative Sparks</h4>
  </header>
  <!-- Hero Section -->
  <section class="intro">
    <div class="column">
      <h3></h3>
      <img src="" alt="" class="profile" id="albumArt"> </div>
    <div class="column" id="band"> 
      
    </div>
  </section>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <h3 class="title" id="Title"> Bands Near You </h3>
    <div class="thumbnail"> <a href="#"><img src="#" alt="" width="2000" height="1000" class="cards"/></a>
     
    </div>
    <div class="thumbnail"> <a href="#"><img src="#" alt="" width="2000" height="1000" class="cards"/></a>
     
    </div>
    <div class="thumbnail"> <a href="#"><img src="#" alt="" width="2000" height="1000" class="cards"/></a>

    </div>
    <div class="thumbnail"> <a href="#"><img src="#" alt="" width="2000" height="1000" class="cards"/></a>
      
    </div>
  </div>

  
  <footer id="contact">
    
  </footer>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2015 - <strong>Creative Sparks</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
